body {
  background: linear-gradient(to right, #f9ffdd, #f7e1d0);
}
.content {
  display: flex;
}

nav {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.btn-grp {
  margin-left: 2rem !important;
}

li {
  display: flex;
  flex-wrap: wrap;
}

.right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}
.opt {
  background-color: #fbfbfb;
  border-radius: 2rem;
  padding: 2rem;
  height: 100vh;
}
.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}
.dateNtime {
  background-color: #fbfbfb;
  padding: 2rem;
  border-radius: 2rem;
}
.center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 0%;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}
.toDo {
  background-color: #fbfbfb;
  padding: 2rem;
  border-radius: 2rem;
}
