body {
  display: flex;
  /* flex-wrap: wrap; */
}
.right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  border: 1px solid black;
}
.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  border: 1px solid black;
}
.center {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}
